@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;1,100&display=swap");

:root {
    --primary-color: #22D8BE;
    --light-color: #eafcf9;
    --dark-color: #b7f4eb;
}

html {
    height: 100%;
    max-width: 100%;
}

body {
    margin: 0px auto;
    font-family: "Prompt", sans-serif;
    letter-spacing: 2px;
    background-color: var(--primary-color);
    text-align: center;
    max-width: 100vw;
}


.container {
    text-align: center;
    margin: 4rem auto 7rem;
}


h1 {
    letter-spacing: 0.2rem;
    margin: 2rem;
    color: var(--light-color);
}

.paragraph {
    font-size: larger;
    margin: 1rem;
}

.bill {
    display: block;
    font-size: large;
    margin-top: 2rem;
    font-weight: 600;
}

.billInput {
    font-size: 14px;
    outline: var(--tertiary-color);
    background-color: var(--light-color);
    padding: 0.6rem 1rem;
    /* margin: 1rem; */
    border: 2px solid var(--dark-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

.initialMessage {
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
}

.hiddenContainer {
    margin: 4rem auto 7rem;
    text-align: center;
}

.cash {
    display: block;
    font-size: large;
    font-weight: 600;
}

.cashInput {
    font-size: 14px;
    outline: var(--light-color);
    background-color: var(--light-color);
    padding: 0.6rem 1rem;
    border: 2px solid var(--light-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

.message {
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
}

.caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
}

button {
    background: var(--dark-color);
    border: none;
    color: var(--tertiary-color);
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: 1rem auto;
    display: block;
}




.output {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}

td,
th,
.row {
    border: 2px solid var(--light-color);
    width: fit-content;
    border-collapse: collapse;
    padding: 0.4rem;
}

p {
    display: inline;
}

.footer {
    text-align: center;
    margin: auto auto 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}


.footer-header {
    font-weight: bold;
    text-align: center;
    font-size: large;
    padding: 0.5rem auto;
}

.list-non-bullet {
    padding: 0;
    margin: 0.5rem auto;
}

.list-item-inline {
    display: inline;
    padding: 0 4px;
}

img {
    width: 30px;
    margin: 20px;
}

.link {
    text-decoration: none;
    padding: 4px;
}

@media screen and (max-width: 800px) {

    .footer-header {
        font-size: 2.2vw;
    }

    img {
        width: 20px;
        margin: 10px;
    }

    .list-item-inline {
        display: inline;
        padding: 0 2px;
    }

    body {
        font-size: 2.5vw;
    }
}

@media screen and (max-height: 530px) {
    .footer {
        display: none;
    }
}